/* Add this CSS to your stylesheet */

.popup-container {
    width: 400px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .popup-container {
        width: 70%;
        /* Make the popup width responsive on smaller screens */
        padding: 60px;
        margin-top: 90px;
    }
    .popup-container h3 {
        font-size: 1.2rem;
        /* Adjust the font size */
    }
    .popup-container p {
        font-size: 1rem;
    }
    .popup-container .flex {
        flex-direction: column;
        align-items: stretch;
    }
    .popup-container .flex .button {
        width: 100%;
        /* Make buttons full width */
        margin-bottom: 10px;
    }
}