* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.empty-container {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.empty-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.shopping-bag {
  width: 100px;
  margin-bottom: 20px;
}

.empty-header {
  font-size: 24px;
  color: #393335;
  font-weight: 900;
}

.empty-par {
  color: #666;
  margin-bottom: 30px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.add-button {
  background-color: #3b3739;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

.add-button:hover {
  background-color: #544749;
}

/* Responsive Design */
@media (max-width: 768px) {
  .logo {
    width: 40px;
  }

  .nav-steps {
    font-size: 14px;
  }

  .shopping-bag {
    width: 80px;
  }

  h2 {
    font-size: 20px;
  }

  .add-button {
    padding: 12px 25px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    gap: 10px;
  }

  .nav-steps {
    flex-direction: column;
    gap: 5px;
  }

  .shopping-bag {
    width: 60px;
  }

  h2 {
    font-size: 18px;
  }

  .add-button {
    padding: 10px 20px;
    font-size: 12px;
  }
}
